body {
  background-color: aquamarine;
}

h2 {
  font-size: 40px;
}
div {
  display: table;
}
dt {
  display: table-cell;
  vertical-align: middle;
  /* text-align: center; */
}
dd {
  display: table-cell;
  vertical-align: middle;
}